<div class="flex items-center gap-1">
  <% if player == current_player || player.online? %>
    <%= render "icons/solid_circle", classes: "w-5 h-5 text-green-500" %>
  <% else %>
    <%= render "icons/solid_circle", classes: "w-5 h-5 text-red-500" %>
  <% end %>
  <% if player.guesser? %>
    <%= render "icons/solid_star", classes: "w-5 h-5" %>
  <% elsif player.answered? %>
    <%= render "icons/check_square", classes: "w-5 h-5" %>
  <% else %>
    <%= render "icons/square", classes: "w-5 h-5" %>
  <% end %>
  <span class="block<%= " font-bold" if player == current_player %>">
    <%= player.name %>
  </span>
</div>
