<%# locals: (completed_answer:) %>

<div class="list-group-item list-group-item-<%= completed_answer.correct? ? "success" : "danger" %> py-2">
  <div class="d-flex align-items-end mb-2">
    <div
      class="fw-bold"
      data-player-name-id="<%= completed_answer.player.id %>"
    >
      <%= completed_answer.player.name %>
    </div>
    <% unless completed_answer.correct? %>
      <div class="d-inline-flex text-danger small ms-1">
        <div>(you guessed:</div>

        <div
          class="ms-1"
          data-player-name-id="<%= completed_answer.attributed_to.id %>"
        >
          <%= completed_answer.attributed_to.name %>
        </div>

        <div>)</div>
      </div>
    <% end %>
  </div>
  <div class="p-2 bg-light border rounded small">
    <%= completed_answer.answer %>
  </div>
</div>
