<%= turbo_refreshes_with method: :morph, scroll: :preserve %>

<%= turbo_stream_from @game, channel: GameChannel %>

<div class="flex flex-wrap items-start gap-2 mt-2">
  <div class="w-75">
    <div class="p-3 border border-gray-800 rounded-lg">
      <p class="font-normal text-gray-700">
        <strong>Question:</strong>
        <%= @game.question %>
      </p>
    </div>

    <%= turbo_frame_tag "game", refresh: "morph", data: { src: loaded_questions_game_path(@game.slug) } do %>
      <%= yield %>
    <% end %>
  </div>

  <div>
    <div class="font-bold">Players:</div>
    <%= turbo_frame_tag "players", refresh: "morph", data: { src: players_loaded_questions_game_path(@game.slug) } do %>
      <%= render partial: "loaded_questions/players/player", collection: @game.players, as: :player, locals: { current_player: @current_player } %>
    <% end %>
  </div>
</div>
