<%= turbo_refreshes_with method: :morph, scroll: :preserve %>

<%= turbo_stream_from @game, channel: GameChannel %>

<div class="flex flex-wrap items-start gap-2 mt-2">
  <div class="w-75">
    <div class="p-3 border border-gray-800 rounded-lg">
      <p class="font-normal text-gray-700">
        <strong>Question:</strong>
        <%= @game.question %>
      </p>
    </div>

    <%= yield %>
  </div>

  <div>
    <div class="font-bold">Players:</div>
    <ul>
      <% @game.players.each do |player| %>
        <li class="flex gap-1">
          <% if player == @current_player || player.online? %>
            <%= render "icons/solid_circle", classes: "w-5 h-5 text-green-500" %>
          <% else %>
            <%= render "icons/solid_circle", classes: "w-5 h-5 text-red-500" %>
          <% end %>
          <% if player.guesser? %>
            <%= render "icons/solid_star", classes: "w-5 h-5" %>
          <% else %>
            <%= render "icons/square", classes: "w-5 h-5" %>
          <% end %>
          <span class="block"><%= player.name %></span>
        </li>
      <% end %>
    </ul>
  </div>
</div>
